body {
    margin: 0;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    background-color: black;
    color: white;
    overflow: hidden;
    height: 100vh;
    min-height: 0
}

.app-layout {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.top-bar {
    width: 100%;
    height: 65px;
    background-color: #000000;
    flex-shrink: 0;
}

.middle-bar {
    display: flex;
    flex: 1;
    gap: 0.5rem;
    min-height: 0;
}

.sidebar {
    width: 390px;
    flex-shrink: 0;
    background-color: #121212;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.content {
    flex-grow: 1;
    background-color: #121212;
    overflow-y: hidden;
    border-radius: 0.5rem;
    min-height: 0;
}

.content-scroll {
    height: 100%;
    overflow-y: auto;
    scrollbar-width: none;
}

.content-scroll::-webkit-scrollbar {
    width: 12px;
}

.content-scroll::-webkit-scrollbar-track {
    background: transparent;
}

.content-scroll::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.35);
}

.sidebar .library {
    padding: 1rem 1rem 0.5rem;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .6);
    z-index: 1;
    padding-bottom: 20px;
}

.library-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.library-title {
    font-weight: 700;
}

.library-add-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.library-add-btn i {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border-radius: 50%;
}

.library-add-btn :hover {
    background-color: #1f1f1f;
}

.library-add-btn :active {
    background-color: #000000;
}

.sidebar .library-content {
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem 0.5rem 0.5rem;
    flex: 1;
    min-height: 0;
}

.library-content .box-music {
    overflow-y: auto;
    min-height: 0;
    max-height: 150px;
    border-radius: 0.5rem;
    flex: 1;
}

.library-content .playlist {
    height: 100px;
    background-color: #1f1f1f;
    border-radius: 0.5rem;
    margin: 10px 0;
    padding: 16px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.library-content .playlist-content {
    line-height: 1.7;
}

.library-content .playlist-content .title {
    font-weight: 700;
}

.library-content .playlist-content .desc {
    font-size: 14px;
    font-weight: 400;
}

.btn {
    padding: 8px 16px;
    background-color: #ffffff;
    color: #121212;
    border-radius: 1rem;
    font-size: 14px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;
}

.btn:hover {
    transform: scale(1.05);
}

.btn:active {
    opacity: 0.8;
}

.btn--large {
    padding: 16px 26px;
    border-radius: 2rem;
    font-weight: 800;
}

.footer-links {
    display: flex;
    flex-direction: column;
    margin: 35px 0;
    gap: 18px;
}

.footer-links__list {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    opacity: 0.7;
    padding: 0 18px;
}

.footer-links__item {
    font-size: 11px;
    white-space: nowrap;
}

.footer-links__external {
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    padding: 12px 18px;
}

.footer-links__external:hover {
    text-decoration: underline;
}

.library-footer .language-selector {
    margin: 0 0 15px;
    padding: 0 18px;
}

.lang-btn {
    border-radius: 1.5rem;
    border: 2px solid #ffffff66;
    background: transparent;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    padding: 5px 16px 5px 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.lang-btn:hover {
    transform: scale(1.05);
    border-color: #ffffff;
}

.lang-btn:active {
    border-color: #ffffff66;
}

.player-bar {
    height: 85px;
    flex-shrink: 0;
}

.player-bar aside {
    margin: 0.5rem 0;
    background-image: linear-gradient(90deg, #af2896, #509bf5);
    border-radius: 0.5rem;
    height: 100%;
}


.player-bar {
    height: 85px;
    flex-shrink: 0;
}

.player-bar aside {
    margin: 0.5rem 0;
    background-image: linear-gradient(90deg, #af2896, #509bf5);
    border-radius: 0.5rem;
    height: 100%;
}

.player-bar .signup-bar {
    padding: 11px 24px 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.player-bar .signup-desc p:nth-of-type(1) {
    font-weight: 700;
    font-size: 14px;
}

.player-bar .signup-desc p {
    margin: 0;
    padding: 0;
    font-size: 15px;
}

.player-bar .signup-bar .signup-btn {
    padding: 16px 26px;
    border-radius: 2rem;
    font-weight: 800;
}