body {
    margin: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    font-family: "Montserrat", sans-serif;
    background-color: black;
    color: white;
}

.app-layout {
    height: 100vh;
    display: flex;
    padding: 0.5rem;
}

.top-bar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 65px;
    background-color: black;
}

.sidebar {
    margin: 65px 0.20rem 7rem 0.20rem;
    width: 360px;
    background-color: #121212;
    border-radius: 1rem;
}

.content {
    margin: 65px 0.20rem 7rem 0.20rem;
    flex-grow: 1;
    background-color: #121212;
    overflow: auto;
    border-radius: 1rem;
}

.player-bar {
    position: fixed;
    bottom: 0.5rem;
    height: 80px;
    width: 100%;
    background-color: brown;
    padding: 0.5rem;
    border-radius: 1rem;
}

.sidebar .head {
    height: 5rem;
}

.sidebar .library {
    padding: 1rem 1rem 0.5rem;
}

.sidebar .library-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.library-title {
    font-weight: 500;
}

.library-add-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.library-add-btn i {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border-radius: 50%;
}

.library-add-btn :hover {
    background-color: #1f1f1f;
}

.library-add-btn :active {
    background-color: #000000;
}